.about_us {
    font-family: "Roboto";
    padding: 100px 0 120px;
    @media (max-width: 993px) {
        padding: 40px 0 60px;
    }
    .box-about_us {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        .icon-fix-top {
            position: absolute;
            top: -88px;
            left: 88px;
        }
        .icon-fix-bottom {
            position: absolute;
            bottom: -90px;
            left: 88px;
        }
        .group-title {
            .title-up {
                display: flex;
                align-items: flex-end;
                margin-bottom: 36px;
                &.only-icon {
                    padding-left: 60px;
                }
    
                .img {}
    
                .text {
                    margin-left: 12px;
                    position: relative;
                    font-size: 29px;
                    color: $c3;
                    font-weight: 700;
                    padding-bottom: 16px;
                    padding-left: 8px;
                    text-transform: uppercase;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 8px;
                        left: 0;
                        width: 230px;
                        height: 2px;
                        background-color: $c3;
                    }
    
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 3px;
                        left: 230px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: $c3;
                    }
                }
            }
    
            .title-down {
                font-size: 18px;
                line-height: 20px;
                color: $c15;
            }
    
            @media (max-width: 1600px) {
                .title-up {
                    .img {
                        width: 50px;
    
                        img {
                            width: 100%;
                        }
                    }
    
                    .text {
                        font-size: rem(20);
    
                        &::before {
                            width: 220px;
                        }
    
                        &::after {
                            left: 220px;
                            width: 8px;
                            height: 8px;
                            bottom: 5px;
                        }
                    }
                }
            }
        }
        .desc {
            width: 500px;
            font-size: 20px;
            line-height: 30px;
            color: #4d4d4d;
            font-weight: 400;
            text-align: justify;
        }
        @media (max-width: 993px) {
            .icon-fix-top {
                display: none;
            }
            .icon-fix-bottom {
                display: none;
            }
            .desc {
                margin-bottom: 32px;
            }
        }
        @media (max-width: 993px) {
            .desc {
                width: 100%;
                font-size: 16px;
            }
        }
    }
}

.about_us_right {
    font-family: "Roboto";
    padding-bottom: 100px;
    .box-about_us {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      
        .group-title {
            .title-up {
                display: flex;
                align-items: center;
                margin-bottom: 36px;
    
                .text {
                    padding-left: 16px;
                    
                }
            }
        }
        .desc {
            width: 500px;
            font-size: 20px;
            line-height: 30px;
            color: #4d4d4d;
            font-weight: 400;
            text-align: justify;
        }
        @media (max-width: 993px) {
            .desc {
                width: 100%;
                font-size: 16px;
            }
        }
    }
    @media (max-width: 993px) {
        padding-bottom: 60px;
        .row  {
            flex-direction: column-reverse;
            .box-about_us {
                justify-content: flex-start;
                margin-bottom: 32px;
            }
        }
    }
}

#mission  {
    padding: 0 0 40px;
    @media (max-width: 993px) {
        padding: 0;
    }
}