.about_us {
    font-family: "Roboto";
    padding-bottom: 100px;
    @media (max-width: 993px) {
        padding: 40px 0 60px;
    }
    .box-about_us {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        .icon-fix-top {
            position: absolute;
            top: -88px;
            left: 88px;
        }
        .icon-fix-bottom {
            position: absolute;
            bottom: -90px;
            left: 88px;
        }
        .group-title {
            .title-up {
                display: flex;
                align-items: flex-end;
                margin-bottom: 36px;
                &.only-icon {
                    padding-left: 60px;
                }
    
                .img {}
    
                .text {
                    margin-left: 12px;
                    position: relative;
                    font-size: 24px;
                    color: $c3;
                    font-weight: 700;
                    padding-bottom: 16px;
                    padding-left: 8px;
                    text-transform: uppercase;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 8px;
                        left: 0;
                        width: 230px;
                        height: 2px;
                        background-color: $c3;
                    }
    
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 3px;
                        left: 230px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: $c3;
                    }
                }
            }
    
            .title-down {
                font-size: 18px;
                line-height: 20px;
                color: $c15;
            }
    
            @media (max-width: 1600px) {
                .title-up {
                    .img {
                        width: 50px;
    
                        img {
                            width: 100%;
                        }
                    }
    
                    .text {
                        font-size: rem(20);
    
                        &::before {
                            width: 220px;
                        }
    
                        &::after {
                            left: 220px;
                            width: 8px;
                            height: 8px;
                            bottom: 5px;
                        }
                    }
                }
            }
        }
        .desc {
            width: 500px;
            font-size: 20px;
            line-height: 30px;
            color: #4d4d4d;
            font-weight: 400;
            text-align: justify;
        }
        @media (max-width: 993px) {
            .icon-fix-top {
                display: none;
            }
            .icon-fix-bottom {
                display: none;
            }
            .desc {
                margin-bottom: 32px;
            }
        }
        @media (max-width: 993px) {
            .desc {
                width: 100%;
                font-size: 16px;
            }
        }
    }
    .about_img {
        height: 100%;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            filter: drop-shadow(0px 4px 17.5px rgba(56,109,182,0.5));
        }
    }
}

.about_us_right {
    font-family: "Roboto";
    padding-bottom: 100px;
    .box-about_us {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      
        .group-title {
            .title-up {
                display: flex;
                align-items: center;
                margin-bottom: 36px;
    
                .text {
                    margin-left: 16px;
                    position: relative;
                    font-size: 24px;
                    color: $c3;
                    font-weight: 700;
                    text-transform: uppercase;
                    white-space: pre-line;
                }
            }
            @media (max-width: 1600px) {
                .title-up {
                    .img {
                        width: 50px;
    
                        img {
                            width: 100%;
                        }
                    }
    
                    .text {
                        font-size: rem(20);
    
                        &::before {
                            width: 220px;
                        }
    
                        &::after {
                            left: 220px;
                            width: 8px;
                            height: 8px;
                            bottom: 5px;
                        }
                    }
                }
            }
        }
        .desc {
            width: 500px;
            font-size: 20px;
            line-height: 30px;
            color: #4d4d4d;
            font-weight: 400;
            text-align: justify;
        }
        @media (max-width: 993px) {
            .desc {
                width: 100%;
                font-size: 16px;
            }
        }
    }
    @media (max-width: 993px) {
        padding-bottom: 60px;
        .row  {
            flex-direction: column-reverse;
            .box-about_us {
                justify-content: flex-start;
                margin-bottom: 32px;
            }
        }
    }
    .about_img {
        height: 100%;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            filter: drop-shadow(0px 4px 17.5px rgba(56,109,182,0.5));
        }
    }
}

#mission  {
    padding: 0 0 40px;
    @media (max-width: 993px) {
        padding: 0;
    }
}

.investment_principles {
    padding-top: 140px;
    @media (max-width: 993px) {
        padding-top: 0;
    }
    .about_us_right {
        @media (max-width: 993px) {
            .box-about_us {
                .icon-fix-top {
                     display: none;
                }
                .icon-fix-bottom {
                    display: none;
                }
            }
        }
        &.two {
            padding-bottom: 120px;
            .box-about_us {
                position: relative;
                margin-bottom: 30px;
                .icon-fix-top {
                    position: absolute;
                    bottom: calc(100% - 40px);
                    left: 60px;
                }
            }
            .img-row-line {
                padding-left: 60px;
            }
            .about_img {
                align-items: flex-start;
            }
            @media (max-width: 1600px) {
                .box-about_us {
                    .icon-fix-top {
                        bottom: calc(100% - 10px);
                    }
                }
            }
            @media (max-width: 993px) {
                padding-bottom: 40px;
                .img-row-line {
                    display: none;
                }
            }
        }
        &.four {
            padding-bottom: 80px;
            .about_img {
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
            }
            .img-row {
                text-align: right;
                padding-top: 60px;
            }
            @media (max-width: 993px) {
                padding: 0 0 40px;
                .img-row {
                    display: none;
                }
            }
            .box-about_us {
                .group-title {
                    .desc {
                        white-space: pre-line;
                    }
                }
            }
        }
    }
    .about_us {
        
        @media (max-width: 1600px) {
            .box-about_us {
                .icon-fix-top {
                    top: -130px;
                }
            }
        }
        @media (max-width: 993px) {
            padding: 0 0 40px;
            .img-row {
                display: none;
            }
            .box-about_us {
                .icon-fix-top {
                     display: none;
                }
                .icon-fix-bottom {
                    display: none;
                }
            }
        }
        &.three {
            padding-bottom: 160px;
            .box-about_us {
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                .icon-fix-top {
                    position: absolute;
                    top: -150px;
                    left: 88px;
                }
                .icon-fix-bottom {
                    position: absolute;
                    bottom: -120px;
                    left: 88px;
                }
                .group-title {
                    .desc {
                        white-space: pre-line;
                    }
                }
            }
            @media (max-width: 993px) {
                padding: 0 0 60px;
            }
        }
        &.five {
            .box-about_us {
                .group-title {
                    .desc {
                        white-space: pre-line;
                    }
                }
            }
            @media (max-width: 993px) {
                .box-about_us {
                    .group-title {
                        .desc {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}