.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1.5px solid #e2e2e2;
  // padding: rem(12) 0;
  // transition: padding 1s;
  z-index: 99;

  .bottom {
    display: flex;
    justify-content: space-between;
    font-size: rem(18);
    color: $cl-text;
    font-weight: 600;
    padding: rem(30) 0 rem(30) 0;

    a {
      i {
        margin-right: rem(8);
      }
    }

    @media (max-width: 993px) {
      font-size: rem(16);
    }

    @media (max-width: 500px) {
      padding: rem(20) 0;
      font-size: rem(14);
    }
  }
}