#header {
  /*background: blue;*/
  border-bottom: 1.5px solid #e2e2e2;
  height: 72px;
  transition: padding 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: rem(12) 0;
  transition: padding 1s;
  z-index: 99;
  background-color: $c7;
  font-family: "Roboto";

  .logo {
    margin: 0 rem(32);
    position: absolute;
    top: 10px;
    left: 72px;

    img {
      width: 100px;
      object-fit: unset;
      height: auto;
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;

    .nav-left {
      display: flex;
      align-items: center;

      .toggle-n {
        cursor: pointer;
      }

      .nav-menu {
        .nav-item {
          .nav-link {
            font-size: rem(18);
            line-height: 40px;
            color: $c3;
            font-weight: 700;
            padding-left: rem(30);
            padding-right: rem(30);
          }
          &:first-child {
            .nav-link {
              padding-left: 0;
            }
          }
          &:last-child {
            .nav-link {
              padding-right: 0;
            }
          }
        }
      }

      @media (max-width: 993px) {
        .toggle-n {
          img {
            width: 24px;
            height: auto;
          }
        }

        .logo {
          margin: 0 rem(24);

          img {
            width: rem(92);
            height: auto;
          }
        }
      }

      @media (max-width: 488px) {
        .logo {
          margin: 0 rem(20);

          img {
            width: rem(80);
            height: auto;
          }
        }
      }

    }

    .nav-right {
      display: flex;
      align-items: center;

      .search {
        .input-group {
          position: relative;

          input {
            padding-left: rem(32);
            border-radius: 10px;
            background-color: #ffffff;
            border: 1px solid $c3;
            width: 180px;

            &:focus {
              box-shadow: none;
              border: 1px solid #daf1f9;
            }
          }

          .input-group-prepend {
            position: absolute;
            top: 50%;
            right: rem(8);
            transform: translateY(-50%);
            background: none;
            z-index: 9;
            color: $c3;
            font-size: 24px;
          }
        }

        .input-group-mobile {
          display: none;

          .input-group-prepend {
            position: absolute;
            top: 50%;
            left: rem(8);
            transform: translateY(-50%);
            background: none;
            z-index: 9;
          }

          .form-search-mobile {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #fff;
            padding: 0 rem(16);
            z-index: 9999;

            form {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
            }
          }
        }
      }

      .register-user {
        margin-left: 30px;
        a {
          color: $c3;
          font-size: rem(16);
          font-weight: bold;
          display: inline-flex;
          align-items: flex-end;
          span {
            padding-right: 4px;
          }
          padding-bottom: 2px;
          border-bottom: 3px solid $c17;
        }
      }

      .login-user {
        margin: 0 30px;
        a {
          width: rem(140);
          height: rem(35);
          border-radius: rem(10);
          color: #fff;
          font-size: rem(16);
          font-weight: bold;
          background-color: $c3;
          padding: rem(8) rem(12);
          border-radius: rem(8);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          span {
            padding-right: rem(4);
          }
        }
      }

      .language {
        display: flex;
        align-items: center;

        img {
          margin-right: rem(8);
          width: rem(18);
          height: rem(18);
        }

        .info {
          position: relative;

          .dropdown-toggle {
            &::after {
              color: #35acd9;
            }
          }

          .dropdown-menu {
            width: rem(40);
            min-width: unset;
            right: 0 !important;
            left: unset !important;

            .dropdown-item {
              padding: 4px;
            }
          }
        }
      }

      @media (max-width: 1200px) {
        .search {
          .input-group {
            input {
              width: rem(200);
            }
          }
        }
      }

      @media (max-width: 993px) {

        .search {
          .input-group {
            display: none;
          }

          .input-group-mobile {
            display: block;
          }
        }
      }

      @media (max-width: 488px) {

        .language {
          padding-left: rem(20);

          img {
            margin-right: rem(4);
            width: rem(20);
            height: auto;
          }
        }
      }

      @media (max-width: 400px) {
        .language {
          display: none;
        }
      }
    }
  }

  // &.scroll {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   background: #fff;
  //   padding: rem(12) 0;
  //   transition: padding 1s;
  //   z-index: 99;
  // }
}

#menu {
  .main-menu {
    position: fixed;
    top: rem(20);
    left: 0;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: rem(80);
    z-index: 999;
    display: flex;
    flex-direction: column;
    background: url(./../imgs/bg-nav.png) no-repeat;
    // transform: translateX(-100%);
    transform: none;
    transition: 1s;
    border-top-right-radius: rem(16);
    
    .top {
      width: 100%;
      padding-top: rem(30);
      .logo {
        display: block;
        width: rem(40);
        margin: 0 auto 40px;

        img {
          width: 100%;
        }
      }
    }

    .bottom {
      text-align: center;
      padding-top: 40px;
      a {
        color: #fff;
      }
    }

    .menu {
      li {
        margin-bottom: rem(10);
        display: flex;
        align-items: center;

        .ic {

        }

        a {
          display: block;
          width: 100%;
          text-align: center;
          padding: 20px 0;

          span {
            display: none;
            color: #fff;
          }

          &:hover,
          &.active {
            color: $c2;
            background-color: $c3;
          }
        }

        @media (max-width: 1600px) {
          margin-bottom: rem(18);
        }
      }
    }

    @media (max-width: 993px) {
      width: rem(280);
      padding: rem(20);
      overflow-y: auto;

      .top {
        .logo {
          margin-bottom: rem(20);

          img {
            width: rem(90);
          }
        }
      }

      .bottom {
        position: unset;
        transform: unset;
        padding-top: rem(20);
      }
    }
  }

  .manche {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $c2;
    z-index: 99;
    opacity: 0.5;
    display: none;
    transition: 1s;
  }
}